.App {
  text-align: center;
  min-height: 100vh;
  background: lightblue
    url("https://media4.giphy.com/media/29HVAo0RSJ01ue0csK/source.gif") repeat
    fixed center;
  font-family: plex sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.modal-container {
  position: relative;
  top: 20%;
  outline: none;
}

.App-link {
  color: #61dafb;
}

table {
  // position in middle of screen
  margin: 5px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  .vertical-line {
    //provide borders vertically create board.
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .horizontal-line {
    //provide borders horizontally create board.
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

td,
th {
  width: 200px;
  height: 200px;
  padding: 10px;
  position: relative;
  outline: 0;
}

tbody tr:hover {
  background-color: lightgray;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
th:not(:empty):focus::after {
  content: "";
  height: 10000px;
  left: 0;
  position: absolute;
  top: -500px;
  width: 100%;
  z-index: -10000;
}

td:hover::after,
th:hover::after {
  background-color: lightgray;
}

td:focus::after,
th:focus::after {
  background-color: lightblue;
}

.userX {
  width: 100%;
  height: 100%;
  color: "blue";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
